#navbar {
        margin: 0;
        padding: 41px 60px 0px 60px;
        height: 79px;
        left: 0px;
        display: flex;
        justify-content: space-between;
           }
#navbar li { display: inline;}
       #navbar a li{
                color: #000000;
                padding: 5px 10px;
                text-decoration: none;
                font-weight: normal;
                display: inline-block;
                font-size: 24px;
                line-height: 24%;
          
       }
       #navbar a {
 color: #000000;
 position: relative;
 text-decoration: none;
 font-size: 24px;
 line-height: 24%;
           
}
       #navbar a:after {
 display: block;          
 position: absolute;
 left: 0;
 width: 0;
 height: 3px;
 background-color: #908065 ;
 content: "";
 transition: width 0.3s ease-out;
}

#navbar a:hover:after,
#navbar a:focus:after {
width: 100%;
}